<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://dev.criticalmanufacturing.io/repository/nuget.org-proxy/index.json" protocolVersion="3" />
	  <!--<add key="cmffs" value="\\cmffs\public\devops\nugets"/>-->  
    <add key="dev.cmf.io" value="https://dev.criticalmanufacturing.io/repository/nuget-hosted/index.json" protocolVersion="3" />
  </packageSources>
</configuration>